<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/menu/map.png" alt=""/>
    <!-- Masthead Heading-->
    <!--    <h1 class="masthead-heading text-uppercase mb-0">reCOVer</h1>-->
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Please answer the following questions</p>
  </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Options</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="row">
      <!-- Portfolio Item 1-->
      <div class="col-md-6 col-lg-6 mb-5" routerLink="/maps/hospitals" routerLinkActive="active">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
          </div>
          <img class="img-fluid" src="assets/img/maps/hospital.png" alt="" />
        </div>
      </div>
      <!-- Portfolio Item 2-->
      <div class="col-md-6 col-lg-6 mb-5" routerLink="/maps/risk-paths" routerLinkActive="active">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
          </div>
          <img class="img-fluid" src="assets/img/maps/coronavirus.png" alt="" />
        </div>
      </div>

    </div>
  </div>
</section>
