<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/menu/coronavirus.png" alt="" /><!-- Masthead Heading-->
    <!--    <h1 class="masthead-heading text-uppercase mb-0">reCOVer</h1>-->
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Risk areas to visit</p>
  </div>
</header>
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <div class="row col-lg-12 col-md-12">
      <img src="assets/img/maps/Heatmap_NYC_Detailed_With_Path_cut.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</section>
