<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/menu/form.png" alt=""/>
    <!-- Masthead Heading-->
    <!--    <h1 class="masthead-heading text-uppercase mb-0">reCOVer</h1>-->
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Please answer the following questions</p>
  </div>
</header>
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label>To your knowledge, have you been in contact with someone who was checked as a suspected case of, or
              was diagnosed with, COVID-19 virus?</label>
          </div>
          <div class="form-check form-check-inline col-sm-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioContact2"
                   value="option1">
            <label class="form-check-label" for="inlineRadioContact2">No</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioContact1"
                   value="option1">
            <label class="form-check-label" for="inlineRadioContact1">Yes</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label>Are you a healthcare worker, work in a nursing home or are a first responder?
            </label>
          </div>
          <div class="form-check form-check-inline col-sm-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioHealth2"
                   value="option1">
            <label class="form-check-label" for="inlineRadioHealth2">No</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioHealth1"
                   value="option1">
            <label class="form-check-label" for="inlineRadioHealth1">Yes</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label>Do you have any previous health preconditions?</label>
            <p class="small">
              chronic (long-term) respiratory diseases, such as asthma, chronic obstructive pulmonary disease (COPD),
              emphysema or bronchitis
              chronic heart disease, such as heart failure
              chronic kidney disease
              chronic liver disease, such as hepatitis
              chronic neurological conditions, such as Parkinson's disease, motor neurone disease, multiple sclerosis
              (MS), a learning disability or cerebral palsy
              diabetes
              problems with your spleen - for example, sickle cell disease or if you have had your spleen removed
              a weakened immune system as the result of conditions such as HIV and AIDS, or medicines such as steroid
              tablets or chemotherapy
              being seriously overweight (a BMI of 40 or above)
              those who are pregnant
            </p>
          </div>
          <div class="form-check form-check-inline col-sm-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioPreconditions2"
                   value="option1">
            <label class="form-check-label" for="inlineRadioPreconditions2">No</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioPreconditions1"
                   value="option1">
            <label class="form-check-label" for="inlineRadioPreconditions1">Yes</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label> Dou you have Cough?
            </label>
          </div>
          <div class="form-check form-check-inline col-sm-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsCoughFrequently"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsCoughFrequently">Frequently</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsCoughSometimes"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsCoughSometimes">Sometimes</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsCoughLittle"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsCoughRarely">Little</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsCoughRarely"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsCoughSometimes">Rarely</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsCoughNone"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsCoughNone">None</label>
          </div>
        </div>
      </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label> Dou you have Fever?
              </label>
            </div>
            <div class="form-check form-check-inline col-sm-4">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsFeverFrequently"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFeverFrequently">Frequently</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsFeverSometimes"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFeverSometimes">Sometimes</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsFeverLittle"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFeverRarely">Little</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsFeverRarely"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFeverSometimes">Rarely</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsFeverNone"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFeverNone">None</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label> Dou you have Breathless-ness?
              </label>
            </div>
            <div class="form-check form-check-inline col-sm-4">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsBreathless-nessFrequently"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBreathless-nessFrequently">Frequently</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsBreathless-nessSometimes"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBreathless-nessSometimes">Sometimes</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsBreathless-nessLittle"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBreathless-nessRarely">Little</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsBreathless-nessRarely"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBreathless-nessSometimes">Rarely</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsBreathless-nessNone"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBreathless-nessNone">None</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label> Dou you have Body aches?
              </label>
            </div>
            <div class="form-check form-check-inline col-sm-4">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsBodyachesFrequently"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBodyachesFrequently">Frequently</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsBodyachesSometimes"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBodyachesSometimes">Sometimes</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsBodyachesLittle"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBodyachesRarely">Little</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsBodyachesRarely"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBodyachesSometimes">Rarely</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsBodyachesNone"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsBodyachesNone">None</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label> Dou you have Head-ache?
              </label>
            </div>
            <div class="form-check form-check-inline col-sm-4">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsHead-acheFrequently"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsHead-acheFrequently">Frequently</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsHead-acheSometimes"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsHead-acheSometimes">Sometimes</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsHead-acheLittle"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsHead-acheRarely">Little</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsHead-acheRarely"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsHead-acheSometimes">Rarely</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsHead-acheNone"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsHead-acheNone">None</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label> Dou you have Fatigue?
              </label>
            </div>
            <div class="form-check form-check-inline col-sm-4">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsFatigueFrequently"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFatigueFrequently">Frequently</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsFatigueSometimes"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFatigueSometimes">Sometimes</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsFatigueLittle"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFatigueRarely">Little</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsFatigueRarely"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFatigueSometimes">Rarely</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsFatigueNone"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsFatigueNone">None</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label> Dou you have Sore throat?
              </label>
            </div>
            <div class="form-check form-check-inline col-sm-4">
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsSorethroatFrequently"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsSorethroatFrequently">Frequently</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="inlineSymptomsSorethroatSometimes"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsSorethroatSometimes">Sometimes</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsSorethroatLittle"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsSorethroatRarely">Little</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsSorethroatRarely"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsSorethroatSometimes">Rarely</label>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsSorethroatNone"
                     value="option1">
              <label class="form-check-label" for="inlineSymptomsSorethroatNone">None</label>
            </div>
          </div>
        </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label> Dou you have Diarrhea?
            </label>
          </div>
          <div class="form-check form-check-inline col-sm-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                   id="inlineSymptomsDiarreaFrequently"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsDiarreaFrequently">Frequently</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                   id="inlineSymptomsDiarreaSometimes"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsDiarreaSometimes">Sometimes</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsDiarreaLittle"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsDiarreaRarely">Little</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsDiarreaRarely"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsDiarreaSometimes">Rarely</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsDiarreaNone"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsDiarreaNone">None</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label> Dou you have Runny nose?
            </label>
          </div>
          <div class="form-check form-check-inline col-sm-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                   id="inlineSymptomsRunnynoseFrequently"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsRunnynoseFrequently">Frequently</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsRunnynoseSometimes"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsRunnynoseSometimes">Sometimes</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsRunnynoseLittle"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsRunnynoseRarely">Little</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsRunnynoseRarely"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsRunnynoseSometimes">Rarely</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsRunnynoseNone"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsRunnynoseNone">None</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label> Dou you have Sneezing?
            </label>
          </div>
          <div class="form-check form-check-inline col-sm-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                   id="inlineSymptomsSneezingFrequently"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsSneezingFrequently">Frequently</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsSneezingSometimes"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsSneezingSometimes">Sometimes</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsSneezingLittle"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsSneezingRarely">Little</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsSneezingRarely"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsSneezingSometimes">Rarely</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsSneezingNone"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsSneezingNone">None</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label> Dou you have Watery eyes?
            </label>
          </div>
          <div class="form-check form-check-inline col-sm-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                   id="inlineSymptomsWateryeyesFrequently"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsWateryeyesFrequently">Frequently</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsWateryeyesSometimes"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsWateryeyesSometimes">Sometimes</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsWateryeyesLittle"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsWateryeyesRarely">Little</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsWateryeyesRarely"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsWateryeyesSometimes">Rarely</label>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineSymptomsWateryeyesNone"
                   value="option1">
            <label class="form-check-label" for="inlineSymptomsWateryeyesNone">None</label>
          </div>
        </div>
      </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
